<h2 class="block text-2xl sm:text-3xl mb-4">{{bike.title}}</h2>

<div class="w-80">
  <a href={{bike.large_img}} target="_blank" class="{{!bike.large_img ? 'cursor-default pointer-events-none' : ''}}" role="button">
    <img #bikeImg src={{bike.thumb}} (error)="bikeImg.src = this.placeholderUrl" alt={{bike.description}} width="auto" height="auto" />
  </a>
</div>

<div class="border-b border-gray-200 w-full py-4">
  <h3 class="text-2xl">Description</h3>
  <span>{{bike.description || 'No description provided.'}}</span>
</div>

<div class="flex flex-col sm:flex-row my-4 space-y-4 sm:space-y-0">
  <div class="flex-1 w-64">
    <h3>Serial</h3>
    <span class="block text-2xl sm:text-3xl">{{bike.serial}}</span>
  </div>
  <div class="flex-1 w-64">
    <h3>Manufacturer</h3>
    <span class="block text-2xl sm:text-3xl">{{bike.manufacturer_name}}</span>
  </div>
  <div class="flex-1 w-64">
    <h3>Status</h3>
    <span class="block text-2xl sm:text-3xl">
      <app-bike-status [status]="bike.status"></app-bike-status>
    </span>
  </div>
</div>

<a type="button" class="w-full sm:w-auto bg-cyan-600 hover:bg-cyan-800 text-white p-2 mt-4" href={{bike.url}} target="_blank">View on BikeIndex</a>

